.card:hover{
transform: translateY(-5px);
transition:0.3s;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
.explore-card{
border-radius:12px;
transition:0.3s;
min-height:120px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.explore-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}