{% extends "adminpanel/base.html" %}

{% block content %}



<div class="container-fluid">

    <div class="row g-4">

        <div class="col-lg-3 col-md-6">
            <div class="dashboard-card users">
                <h6>Total Users</h6>
                <h2>{{ total_users }}</h2>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="dashboard-card providers">
                <h6>Total Providers</h6>
                <h2>{{ total_providers }}</h2>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="dashboard-card pending">
                <h6>Pending Providers</h6>
                <h2>{{ pending_count }}</h2>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="dashboard-card districts">
                <h6>Total Districts</h6>
                <h2>{{ total_districts }}</h2>
            </div>
        </div>


      

    </div>

</div>


{% endblock %}
